repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
        exclude: templates|migrations|scripts|docs|dist|.venv|public
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        exclude: scripts/
        additional_dependencies:
          - "litestar[jinja,redis,structlog,opentelemetry]>=2.8.3"
          - "advanced-alchemy[uuid]"
          - "asyncpg>=0.28.0"
          - "python-dotenv>=1.0.0"
          - "litestar-saq>=0.1.3"
          - "litestar-vite[nodeenv]"
          - "litestar-granian"
          - "aiosqlite>=0.19.0"
          - "httptools"
          - "pwdlib[argon2]>=0.2.0"
          - "logfire"
          - "pydantic>=2.8.2"
          - "pydantic-settings>=2.3.4"
          - "pydantic-extra-types>=2.9.0"
          - "opentelemetry-api>=1.25.0"
          - "opentelemetry-sdk>=1.25.0"
          - "opentelemetry-instrumentation-sqlalchemy>=0.46b0"
          - "opentelemetry-distro>=0.46b0"
          - "opentelemetry-instrumentation-asyncio>=0.47b0"
          - "opentelemetry-instrumentation-jinja2>=0.47b0"
          - httpx-oauth
          - types-click
          - types-redis
          - types-passlib
          - types-click
          - types-PyYAML
